<h1>Crear Afiliado</h1>


<form action="/affiliates/create" method="POST">

  <div>
    <label>Nombre</label>
    <input
      type="text"
      name="firstName"
      required
    >
  </div>

  <br>

  <div>
    <label>Apellido</label>
    <input
      type="text"
      name="lastName"
      required
    >
  </div>

  <br>

  <div>
    <label>Email</label>
    <input
      type="email"
      name="email"
      required
    >
  </div>

  <br>

  <div>
    <label>Tipo de afiliación</label>

    <select name="membershipType" required>
      <option value="">Seleccione</option>
      <option value="silver">Silver</option>
      <option value="gold">Gold</option>
      <option value="platinum">Platinum</option>
    </select>
  </div>

  <br>

  <button type="submit">
    Crear afiliado
  </button>

</form>

<br>

<a href="/affiliates">
  Volver al listado
</a>