<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Clínica DentPlus</title>
</head>

<body>

  <nav>
    <a href="/">Inicio</a>
    <a href="/affiliates">Afiliados</a>
  </nav>

  {{{body}}}

</body>
</html>